<%- include('./partial/head') %>

<%const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };%>



<br>
<div class="container">
    <h1>Data Customers</h1>
    <br>
    <h3>Customer : <%=customerArr.checkFullname()%></h3>
    <h4>license plate: <%=customerArr.platNo%></h4>
    --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Name Product</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <%  products.forEach(product =>{%>
            <tr>
                <td><%=product.nameProduct%></td>
                <td><%=product.price%></td>
                <td><%=product.ProductCustomer.createdAt.toLocaleDateString('en-US', options)%></td>
            </tr>
            <%})%>
        </tbody>
    </table>
</div>

<%- include('./partial/foot') %>