<%- include('./partial/head') %>
<a href="/"><button>Logout</button></a>
<div class="container">
    <h1>Data Customers</h1>
    <br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">license plate</th>
                <th scope="col">email</th>
                <th scope="col">add Product</th>
                <th scope="col">History</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <%  customers.forEach(customer =>{%>
            <tr>
                <td><%= customer.id%></td>
                <td><%= customer.firstName%></td>
                <td><%= customer.lastName%></td>
                <td><%= customer.platNo%></td>
                <td><%= customer.email%></td>
                <td><a href="/customers/<%=customer.id%>/add-product"><button>Add Product</button></a></td>
                <td><a href="/customers/<%=customer.id%>/history"><button>History</button></a></td>
                <td><a href="/customers/edit/<%=customer.id%>"><button>edit</a></button>
                    <a href="customers/delete/<%=customer.id%>"
                        onclick="return confirm('Delete this customer?')"><button>delete</button></a>
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
</div>

<center><button><a href="/products">Show Product</a></button></center>
<center><button><a href="/customers/add">Add Customer</a></button></center>

<%- include('./partial/foot') %>